<!DOCTYPE html>
<html lang="en">

    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
        <link rel="stylesheet" type="" href="/css/edit.css">
        <script src="/js/jquery-3.2.0.min.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="side">
                <span class="side-hd" data-id="<%= competitionId %>">
                    比赛设置
                </span>
                <a href="/manage/competitions/<%= competitionId %>/hosts">
                    <i class="iconfont">&#xe61e;</i>
                    主持人
                </a>
                <a href="/manage/competitions/<%= competitionId %>/raters">
                    <i class="iconfont">&#xe61e;</i>
                    评委
                </a>
                <a href="/manage/competitions/<%= competitionId %>/participants">
                    <i class="iconfont">&#xe61e;</i>
                    参赛项目
                </a>
                <a href="/manage/competitions/<%= competitionId %>/items">
                    <i class="iconfont">&#xe61e;</i>
                    评分项目
                </a>
                <a href="/manage/competitions/<%= competitionId %>/scores">
                    <i class="iconfont">&#xe61e;</i>
                    评分状态
                </a>
            </div>