<%- include('header') -%>

<div class="main">
     <div class="main-hd">
        <div id="add">
            增加
            <i class="iconfont">&#xe61b;</i>
        </div>
    </div>
    <form id="form" class="form" method="post">
        <input type="text" name="name" value="" placeholder="评分项">
        <input type="text" name="value" value="" placeholder="最高分" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')">
        <input type="submit" name="" value="添加评分项">
    </form>
    <div id="form2" class="form" data-action="">
        <input id="changename" type="text" name="name" value="" placeholder="评分项">
        <input id="changevalue" type="text" name="value" value="" placeholder="最高分" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')">
        <button id="putchange">提交修改</button>
    </div>
     <div class="main-list">
        <table class="competition">
            <thead>
                <tr>
                    <th>评分项</th>
                    <th>最高分</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <% items.forEach((item, i)=>{ %>
                    <tr>
                        <td class="item-name">
                            <%= item.name %>
                        </td>
                        <td class="item-value">
                            <%= item.value %>
                        </td>
                        <td>
                            <a href="#" data-id="<%= item._id %>" data-index="<%= i %>" class="change">修改</a>
                            <a href="#" data-id="<%= item._id %>" data-index="<%= i %>" class="delete">删除</a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
</div>
<script>
    document.getElementById('add').addEventListener('click', function () {
        document.getElementById('form').classList.toggle('form-active')
    })

    var changes = document.getElementsByClassName('change')
    var currentCompet = ''
    for (var i = 0, len = changes.length; i < len; i++) {
        changes[i].addEventListener('click', function () {
            if (!document.getElementById('form2').classList.contains('form-active') || currentCompet == '') {
                document.getElementById('form2').classList.add('form-active')
            }
            if (currentCompet == this.getAttribute('data-id')) {
                document.getElementById('form2').classList.remove('form-active')
            }
            currentCompet = this.getAttribute('data-id')
            var index = this.getAttribute('data-index')
            var itemName = document.getElementsByClassName('item-name')[index].innerText
            var itemValue = document.getElementsByClassName('item-value')[index].innerText
            document.getElementById('changename').value = itemName
            document.getElementById('changevalue').value = itemValue
            document.getElementById('form2').setAttribute('data-id', this.getAttribute('data-id'))
        })
    }
    // 给每个删除按钮绑定事件
    $('.delete').click(function(){
        var url = '/api/competitions/' + document.getElementsByClassName('side-hd')[0].getAttribute('data-id') + '/items/'
        + this.getAttribute('data-id')
        $.ajax({
            url: url,
            type: 'delete',
            success: function () {
                window.location.reload()
            },
            error: function () {
                console.log('删除失败')
            }
        })
    })
    // 提交修改监听
    document.getElementById('putchange').addEventListener('click', function () {
        var data = {
            name: document.getElementById('changename').value,
            value: document.getElementById('changevalue').value
        }
        var url = '/api/competitions/' + document.getElementsByClassName('side-hd')[0].getAttribute('data-id') + '/items/'
        + document.getElementById('form2').getAttribute('data-id')
        $.ajax({
            url: url,
            type: 'put',
            data: data,
            success: function () {
                window.location.reload()
            },
            error: function () {
                console.log('提交失败')
            }
        })
    })
</script>

<%- include('footer') -%>