<%- include('header') -%>

    <div class="main">
        <div class="main-hd">
            <div id="add">
                增加
                <i class="iconfont">&#xe61b;</i>
            </div>
        </div>
        <form id="form" class="form" method="post" style="height: 20em" enctype="multipart/form-data">
            <input type="text" name="name" value="" placeholder="参赛作品">
            <textarea name="introduction" placeholder="简介"></textarea>
            <input type="file" name="logo" value="">
            <input type="file" name="report" value="">
            <input type="submit" name="report" value="添加参赛队伍">
        </form>
        <form id="form2" class="form" method="post" data-action="" style="height: 20em" target="frameFile" enctype="multipart/form-data" name="fileinfo">
            <input id="changename" type="text" name="name" value="" placeholder="参赛作品">
            <textarea id="changeintro" name="introduction" placeholder="简介"></textarea>
            <input type="file" name="logo" value="">
            <input type="file" name="report" value="">
            <button id="putchange">提交</button>
        </form>
        <iframe name='frameFile' style='display: none;'></iframe>,
        <div class="main-list">
            <table class="competition">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>参赛项目</th>
                        <th>简介</th>
                        <th>头像</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <% participants.forEach((participant, i)=>{ %>
                        <tr>
                            <td><%= i + 1 %></td>
                            <td class="participant-name">
                                <%= participant.name %>
                            </td>
                            <td class="participant-introduction" style="max-width:20em">
                                <%= participant.introduction %>
                            </td>
                            <td class="participant-logo">
                                <img src="/competition/<%= participant.logo %>" alt="获取图片失败">
                            </td>
                            <td style="min-width:100px">
                                <a href="#" data-id="<%= participant._id %>" data-index="<%= i %>" class="change">修改</a>
                                <a href="#" data-id="<%= participant._id %>" data-index="<%= i %>" class="delete">删除</a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        document.getElementById('add').addEventListener('click', function () {
            document.getElementById('form').classList.toggle('form-active')
        })

        var changes = document.getElementsByClassName('change')
        var currentCompet = ''
        for (var i = 0, len = changes.length; i < len; i++) {
            changes[i].addEventListener('click', function () {
                if (!document.getElementById('form2').classList.contains('form-active') || currentCompet == '') {
                    document.getElementById('form2').classList.add('form-active')
                }
                if (currentCompet == this.getAttribute('data-id')) {
                    document.getElementById('form2').classList.remove('form-active')
                }
                currentCompet = this.getAttribute('data-id')
                var index = this.getAttribute('data-index')
                var participantName = document.getElementsByClassName('participant-name')[index].innerText
                var participantIntro = document.getElementsByClassName('participant-introduction')[index].innerText
                document.getElementById('changename').value = participantName
                document.getElementById('changeintro').value = participantIntro
                document.getElementById('form2').setAttribute('data-id', this.getAttribute('data-id'))
            })
        }
        // 给每个删除按钮绑定事件
        $('.delete').click(function () {
            var url = '/api/competitions/' + document.getElementsByClassName('side-hd')[0].getAttribute('data-id') + '/participants/'
                + this.getAttribute('data-id')
            $.ajax({
                url: url,
                type: 'delete',
                success: function () {
                    window.location.reload()
                },
                error: function () {
                    console.log('删除失败')
                }
            })
        })
        // 提交修改监听
        document.getElementById('putchange').addEventListener('click', function () {
            var url = '/api/competitions/' + document.getElementsByClassName('side-hd')[0].getAttribute('data-id') + '/participants/'
                + document.getElementById('form2').getAttribute('data-id')
            var formData = new FormData(document.forms.namedItem("fileinfo"))
            $.ajax({
                url: url,
                type: 'put',
                data: formData,
                // async: false,
                // cache: false,
                contentType: false,
                processData: false,
                success: function () {
                    // window.location.reload()
                },
                error: function () {
                    console.log('提交失败')
                }
            })
        })
    </script>
    <%- include('footer') -%>